
.myFav{
    background: url("../img/bgLoginRegister.jpeg");
    background-size: cover;
    background-position: top;
}


.myTable{
background: rgb(228, 37, 37);
background: linear-gradient(195deg, rgba(255,255,255,1) 0%, rgba(214,213,213,1) 66%, rgba(201,200,200,0.6) 100%);
}