
@import "../../../node_modules/bootstrap/scss/bootstrap.scss";
@import "../styles/theme.scss";

$bgImage: "../img/myacar.jpeg";

body::after {
  content: "";
  background: url($bgImage);
  background-size: cover;
  opacity: 1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;   
}

div.transbox {
  margin: 30px;
  background-color: #ffffff;
  border: 1px solid black;
  opacity: 0.6;
  border-radius: 15px ;
}
div.transbox p {
  margin: 5%;
  font-weight: bold;
  color: black;
}

.card{
    background: #fff;
    box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
      transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
  cursor: pointer;
}

.card:hover{
     transform: scale(1.05);
  box-shadow: 0 10px 20px black, 0 4px 8px rgba(0,0,0,.05);
}