.myLogin{
    background: url("../img/bgLoginRegister.jpeg");
    background-size: cover;
    background-position: top;
}



.myLogin .fa-id-card{
    font-size: 80px;
    color: #333;
    display: inline;
    align-content: center;
}
.myForm{
background: rgb(228, 37, 37);
background: linear-gradient(195deg, rgba(255,255,255,1) 0%, rgba(214,213,213,1) 66%, rgba(201,200,200,0.6) 100%);
}

.myLogin .fa-user-circle{
    font-size: 100px;
    color: #333;
    display: inline;
    align-content: center;

}
.myLogin .fa-paper-plane{
    font-size:83px;
    color: #333;
    display: inline;
    align-content: center;

}
.myLogin .fa-keyboard{
    font-size:83px;
    color: #333;
    display: inline;
    align-content: center;

}
.myLogin .fa-asterisk{
    font-size:25px;
    color: #333;
    display: inline;
    align-content: center;
    margin: 10px 5px;
}



.form-control:focus {
  border-color: darkgray ;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px gray;
}