.scrolling-wrapper {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;

.card {
    display: inline-block;
  }
}

div.transbox {
  background-color: black;
  border: 1px solid red;
  opacity: 0.5;
  border-radius: 8px ;
}

.myProduct{
    background: url("../img/bgLeft.jpeg");
    background-size: cover;
    min-height: 95%;
    height: auto;
    width: auto;
}

.myProduct .card{
      transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
}

.myProduct .card:hover{
     transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(250,250,250,.52), 0 4px 8px rgba(0,0,0,.06) !important;
}