.scrolling-wrapper {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;

.card {
    display: inline-block;
  }
}

div.transbox {
  background-color: black;
  border: 1px solid red;
  opacity: 0.5;
  border-radius: 8px ;
}

.myProduct{
    background: url("../img/bgLeft.jpeg");
    background-size: cover;
    min-height: 95%;
    height: auto;
    width: auto;
}

